{% extends "blog/base.html" %}

{% block header %}
<div class="site-heading">
  <h1>Password reset</h1>
</div>
{% endblock %}

{% block content %}
<div class="col-12">
  <div class="row justify-content-center">
    <p class="mb-0">確認用メールを送信しました。メール本文に記載のURLを確認して変更・完了してください。</p>
    <span class="help-block">※本アプリはテストモデルの為、確認用メールは送信されません。</span>
  </div>
  <div class="row justify-content-center">
    <button onclick="location.href='{% url "account_login" %}'" class="btn btn-success m-5" role="button">
      <i class="fas fa-sign-in-alt fa-fw"></i>ログイン画面へ
    </button>
  </div>
</div>
{% endblock %}