{% extends 'blog/base.html' %}

{% block header %}
<div class="site-heading">
  <h1>About</h1>
</div>
{% endblock %}

{% block content %}
<div class="col-12">
  <p>Free Space Free Space Free Space Free Space Free Space Free Space Free Space Free Space Free Space Free Space Free Space Free Space Free Space Free Space Free Space Free Space Free Space Free Space Free Space Free Space Free Space Free Space Free Space Free Space Free Space Free Space Free Space Free Space Free Space Free Space Free Space Free Space Free Space Free Space Free Space Free Space Free Space Free Space</p>
</div>
{% endblock %}