{% extends 'blog/base.html' %}
{% load widget_tweaks %}

{% block header %}
<div class="site-heading">
  <h1>New post</h1>
</div>
{% endblock %}

{% block content %}
<div class="col-12">
  <form method="POST" class="post-form" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    <div class="form-group row">
      <label for="{{ form.author.id_for_label }}" class="col-lg-2 mb-1">投稿者</label>
      <div class="col-lg-3">
        {{ form.author|add_class:'form-control' }}
        {% for error in form.author.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    </div>
    <div class="form-group row">
      <label for="{{ form.category.id_for_label }}" class="col-lg-2 mb-1">カテゴリ</label>
      <div class="col-lg-3">
        {{ form.category|add_class:'form-control' }}
        {% for error in form.category.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    </div>
    <div class="form-group row">
      <label for="{{ form.title.id_for_label }}" class="col-lg-2 mb-1">タイトル</label>
      <div class="col-lg-10">
        {{ form.title|add_class:'form-control' }}
        {% for error in form.title.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    </div>
    <div class="form-group row">
      <label for="{{ form.text.id_for_label }}" class="col-lg-2 mb-1">本文</label>
      <div class="col-lg-10">
        {{ form.text|add_class:'form-control' }}
        {% for error in form.text.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    </div>
    <div class="form-group row">
      <label for="{{ form.image.id_for_label }}" class="col-lg-2 m-0">ヘッダー画像</label>
      <div class="col-lg-10">
        {{ form.image|add_class:'form-control' }}
        {% for error in form.image.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    </div>


    <div class="text-right">
      <button type="submit" class="save btn btn-success" role="button">
        <i class="fas fa-paper-plane fa-fw"></i>送信
      </button>
    </div>
  </form>
</div>
{% endblock %}